body {
  margin: 0;
  height: 100vh;
}

.container {
  padding: 20px;
  background: linear-gradient(180deg, #5D5FEF 0%, #843CE0 100%);
  height: 100%;
}



#tic-tac-toe {
  width: 245px;
  height: 41px;
  color: #F90;
  font-family: 'Courier New', Courier, monospace;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;

}

.score-board {
  display: flex;
  justify-content: space-between;
}

.score {
  display: flex;
  align-self: center;
  margin-bottom: 20px;
}

.board {
  display: flex;
  justify-content: center;
}

.main-board {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  place-content: center;
  gap: 10px;
  background-color: #391898;
  width: fit-content;
  border-radius: 20px;
  padding: 2px;
  border: 2px solid rgb(40, 60, 173)
}

.cell {
  border: 2px solid #4219bae0;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: transform 0.5s ease-in-out;
}

.cell>img {
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

.restart-container {
  display: none;
}

.restart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #391898;
  width: 279px;
  height: 260px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #FFE03B;

}

.win {
  color: #FFE03B;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.div-btn {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.div-btn>button,
a>button {
  background: #F90;
  width: 91px;
  height: 35px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  border-radius: 20px;
}

a {
  text-decoration: none;
}